<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="projectPropertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:feed-generator.properties</value>
		</property>
	</bean>

	<bean class="com.imaginea.feedgenerator.FeedStatus" id="feedStatus">
		<constructor-arg value="${feed.import.home}" />
		<constructor-arg>
			<bean class="java.util.Date" />
		</constructor-arg>
	</bean>

	<bean class="com.imaginea.feedgenerator.util.FeedUtils" id="feedUtils">
		<constructor-arg value="${feed.import.home}" />
		<constructor-arg value="${feed.project}" />
		<constructor-arg value="${feed.page.size}" />
	</bean>

	<bean class="com.imaginea.feedgenerator.process.AbstractFeedProcessor"
		id="abstractFeedProcessor" abstract="true">
		<constructor-arg ref="feedUtils" />
	</bean>

	<bean class="org.json.simple.parser.JSONParser" id="jsonParser" />

	<bean class="java.text.DecimalFormat" id="decimalFormat">
		<constructor-arg value="#0.00" />
	</bean>

	<bean
		class="com.imaginea.feedgenerator.process.PreviousFeedGenerationDataProcessor"
		parent="abstractFeedProcessor" />
	<bean class="com.imaginea.feedgenerator.process.UpdateSKUsProcessor"
		parent="abstractFeedProcessor" id="updateSKUsProcessor" />
	<bean
		class="com.imaginea.feedgenerator.process.DownloadSKUDataFilesProcessor"
		parent="abstractFeedProcessor" />
	<bean class="com.imaginea.feedgenerator.process.DeleteInactiveSKUsProcessor"
		parent="abstractFeedProcessor" />

</beans>